html {
  font-family: -apple-system, system-ui, sans-serif;
}
carousel-component {
  overflow-x: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  div {
    margin: 0 2px;
    flex: 0 0 400px;
    scroll-snap-align: center;
  }
  section {
    margin: 0 2px;
    flex: 0 0 90vw;
    scroll-snap-align: center;
  }
  text {
    font: bold 30px sans-serif;
  }
  .slide{
    margin: 0 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ccc;
    figure{
      min-height: 150px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      figcaption{
        margin-top: -27px;
        background: rgba(0,0,0,0.5);
        color: #fff;
        display: block;
        width: auto;
        position: absolute;
        padding: 3px;
        width:394px;
        &.right{
          right:0px;
        }
      }
      img{
        width: 100%;
        min-height: 150px;
      }
    }
    h4{
      margin: 0px 5px 20px;
    }

  }
}
button {
  font-size: 1em;
  padding: .5em;
  color: #333;
  border-radius: 2px;
}
