$base-color: #ddd;
$shine-color: #e8e8e8;
$avatar-offset: 52 + 16;
@mixin background-gradient{
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  background-size: 600px;
}

@keyframes shine-avatar{

  0% {
    background-position:- 100 px + $avatar-offset;
  }
  40%, 100% {
    background-position: 140px + $avatar-offset;
  }
}

html {
  font-family: -apple-system, system-ui, sans-serif;
}
body{
  margin:0;
}
.intro-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  .icon{
    order: 1;
    display: inline-block;
    float:left;
    padding:0 30px;
  }
  .title{
    order: 2;
    display: inline-block;
    h1{
      margin:10px 0;
    }
  }

}
carousel-component {
  overflow-x: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding-bottom:30px;
  &::-webkit-scrollbar {
    display: none;
  }
  div {
    margin: 0 2px;
    flex: 0 0 400px;
    scroll-snap-align: center;
  }
  .skeleton{
    width:100%;
    margin:0;
    margin-bottom: 15px;
    @include background-gradient;
    animation: shine-avatar 1s infinite linear;
    &.skeleton-image{
      height: 150px;
    }
    &.skeleton-text{
      height: 35px;
    }
  }
  section {
    margin: 0 2px;
    flex: 0 0 90vw;
    scroll-snap-align: center;
  }
  text {
    font: bold 30px sans-serif;
  }
  .slide{
    margin: 0 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ccc;
    &.collection{
      box-shadow: 0px 7px 8px #333;
    }
    figure{
      min-height: 150px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      figcaption{
        margin-top: -27px;
        background: rgba(0,0,0,0.5);
        color: #fff;
        display: block;
        position: absolute;
        padding: 3px;
        width:394px;
        &.right{
          right:0px;
        }
      }
      img{
        width: 100%;
        min-height: 150px;
      }
    }
    h4{
      margin: 0px 5px 20px;
    }

  }
}
button{
  font-size: 2em;
  padding: .5em;
  color: #333;
  border-radius: 2px;
  &.carousel-next{
    float:right;
  }
}
